.ant-dropdown-link {
  font-size: 18px;
  padding: 16px;
}

.content {
  min-height: calc(100vh - 64px); /* 64px is the height of the header */
}

.status-detail-nested {
  font-weight: bold;
}

.status-detail-child {
  margin-left: 4px;
}

.status-detail ul {
  margin: 0;
  padding-left: 20px;
}

.panel-header {
  width: 100%;
} 
.server-card {
  width: 100%;
  min-width: 350px;
}

@media (min-width: 768px) {
  .server-card {
    flex: 0 0 50%; /* set width to 50% for screens with a minimum width of 768px */
  }
}

@media (min-width: 992px) {
  .server-card {
    flex: 0 0 33.33%; /* set width to 33.33% for screens with a minimum width of 992px */
  }
}
.custom-content {
  min-height: 100%;
}