/* body {
  background-color: #175abd;
} */

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('../images/HonFigurator_Icon.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 400px;
  transition: 0.3s;
}

.login-form:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
}

.welcome-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #001529, #003a71);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-bottom: 0.25rem;
}

.welcome-title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60%;
  height: 2px;
  background-image: linear-gradient(to right, #001529, #003a71);
}

.discord-logo {
  height: 1.2rem;
  margin-right: 0.5rem;
}

.login-form-discord-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7289da;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.login-form-discord-btn:hover {
  background-color: #5865f2;
}
