.log-enter {
    opacity: 0;
}

.log-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.log-exit {
    opacity: 1;
}

.log-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}